<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.dao.CartypeMapper" >
  <resultMap id="BaseResultMap" type="com.car.dao.example.Cartype" >
    <id column="Tno" property="tno" jdbcType="INTEGER" />
    <result column="Tname" property="tname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Tno, Tname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.car.dao.example.CartypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cartype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cartype
    where Tno = #{tno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cartype
    where Tno = #{tno,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.dao.example.CartypeExample" >
    delete from cartype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.dao.example.Cartype" >
    insert into cartype (Tno, Tname)
    values (#{tno,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.car.dao.example.Cartype" >
    insert into cartype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tno != null" >
        Tno,
      </if>
      <if test="tname != null" >
        Tname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tno != null" >
        #{tno,jdbcType=INTEGER},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.dao.example.CartypeExample" resultType="java.lang.Integer" >
    select count(*) from cartype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cartype
    <set >
      <if test="record.tno != null" >
        Tno = #{record.tno,jdbcType=INTEGER},
      </if>
      <if test="record.tname != null" >
        Tname = #{record.tname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cartype
    set Tno = #{record.tno,jdbcType=INTEGER},
      Tname = #{record.tname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.dao.example.Cartype" >
    update cartype
    <set >
      <if test="tname != null" >
        Tname = #{tname,jdbcType=VARCHAR},
      </if>
    </set>
    where Tno = #{tno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.dao.example.Cartype" >
    update cartype
    set Tname = #{tname,jdbcType=VARCHAR}
    where Tno = #{tno,jdbcType=INTEGER}
  </update>
</mapper>