<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.dao.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.car.dao.example.Staff" >
    <id column="Sno" property="sno" jdbcType="INTEGER" />
    <result column="Dno" property="dno" jdbcType="INTEGER" />
    <result column="Sname" property="sname" jdbcType="VARCHAR" />
    <result column="Sphone" property="sphone" jdbcType="VARCHAR" />
    <result column="Saccount" property="saccount" jdbcType="VARCHAR" />
    <result column="Spaw" property="spaw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Sno, Dno, Sname, Sphone, Saccount, Spaw
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.car.dao.example.StaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staff
    where Sno = #{sno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staff
    where Sno = #{sno,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.dao.example.StaffExample" >
    delete from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.dao.example.Staff" >
    insert into staff (Sno, Dno, Sname, 
      Sphone, Saccount, Spaw
      )
    values (#{sno,jdbcType=INTEGER}, #{dno,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, 
      #{sphone,jdbcType=VARCHAR}, #{saccount,jdbcType=VARCHAR}, #{spaw,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.car.dao.example.Staff" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sno != null" >
        Sno,
      </if>
      <if test="dno != null" >
        Dno,
      </if>
      <if test="sname != null" >
        Sname,
      </if>
      <if test="sphone != null" >
        Sphone,
      </if>
      <if test="saccount != null" >
        Saccount,
      </if>
      <if test="spaw != null" >
        Spaw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sno != null" >
        #{sno,jdbcType=INTEGER},
      </if>
      <if test="dno != null" >
        #{dno,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        #{sphone,jdbcType=VARCHAR},
      </if>
      <if test="saccount != null" >
        #{saccount,jdbcType=VARCHAR},
      </if>
      <if test="spaw != null" >
        #{spaw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.dao.example.StaffExample" resultType="java.lang.Integer" >
    select count(*) from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staff
    <set >
      <if test="record.sno != null" >
        Sno = #{record.sno,jdbcType=INTEGER},
      </if>
      <if test="record.dno != null" >
        Dno = #{record.dno,jdbcType=INTEGER},
      </if>
      <if test="record.sname != null" >
        Sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.sphone != null" >
        Sphone = #{record.sphone,jdbcType=VARCHAR},
      </if>
      <if test="record.saccount != null" >
        Saccount = #{record.saccount,jdbcType=VARCHAR},
      </if>
      <if test="record.spaw != null" >
        Spaw = #{record.spaw,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staff
    set Sno = #{record.sno,jdbcType=INTEGER},
      Dno = #{record.dno,jdbcType=INTEGER},
      Sname = #{record.sname,jdbcType=VARCHAR},
      Sphone = #{record.sphone,jdbcType=VARCHAR},
      Saccount = #{record.saccount,jdbcType=VARCHAR},
      Spaw = #{record.spaw,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.dao.example.Staff" >
    update staff
    <set >
      <if test="dno != null" >
        Dno = #{dno,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        Sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        Sphone = #{sphone,jdbcType=VARCHAR},
      </if>
      <if test="saccount != null" >
        Saccount = #{saccount,jdbcType=VARCHAR},
      </if>
      <if test="spaw != null" >
        Spaw = #{spaw,jdbcType=VARCHAR},
      </if>
    </set>
    where Sno = #{sno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.dao.example.Staff" >
    update staff
    set Dno = #{dno,jdbcType=INTEGER},
      Sname = #{sname,jdbcType=VARCHAR},
      Sphone = #{sphone,jdbcType=VARCHAR},
      Saccount = #{saccount,jdbcType=VARCHAR},
      Spaw = #{spaw,jdbcType=VARCHAR}
    where Sno = #{sno,jdbcType=INTEGER}
  </update>
</mapper>