.page-head {
    text-align: center;
}

.add-car-text{
    width: 280px;
}

.admin-add-car {
    margin-left: 200px;
}

.add-car-button {
    text-align: center;
}

#addCarButton {
    width: 120px;
}