.non-returnListTitle > td {
    text-align: center;
    color: black;
    font-size:20px;
}

.non-returnListCatalogue {
    border: 2px solid #F5F5F5;
    width: 100%;
    margin: 20px 0;
}

.non-returnListCatalogue:hover {
    border: 2px solid #A9A9A9;
}

.non-returnListName:hover {
    text-decoration: none;
}

.non-returnListUnitPrice {
    text-align: center;
    color: black;
}

.non-returnListState {
    text-align: center;
    color: #FF0000;
    font-family: "Microsoft YaHei";
}

.history-returnListTitle > td {
    text-align: center;
    color: black;
    font-size: 20px;
}

.history-returnListState {
    text-align: center;
    color: green;
    font-family: "Microsoft YaHei";
}
.history-returnListName:hover {
    text-decoration: none;
}

.history-returnListUnitPrice {
    text-align: center;
    color: black;
}

.history-returnListCatalogue:hover {
    border: 2px solid #A9A9A9;
}

.history-returnListCatalogue {
    border: 2px solid #F5F5F5;
    width: 100%;
    margin: 20px 0;
}

.rentUserName {
    color: #1E90FF;
    font-family: "Microsoft YaHei";
    font-size: large;
}