.staffLogin-text {
    width: 350px;
    margin-left: 500px;
}

#staffLoginButton {
    width: 120px;
    height: 40px;
    margin-left: 25px;
}

.error-m {
    width: 350px;
    margin-left: 500px;
}

.container-fluid {
    margin-top: 55px;
}


.notice {
    color: black;
}

.notice:hover {
    text-decoration: none;
}

.notice-message {
    bordr:2px solid #A9A9A9;
    width: 500px;
    margin-left: 420px;
}